body {
	margin: 0;
	padding: 0;
	background-color: #e2e2e2;
}
#navbar {
	display: inline-block;
	background-color: #8e8e8e;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	font-family: "Open Sans", sans-serif;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

}

ul li a {
	text-decoration: none;
	margin: 0 40px;
	padding: 0;
	color: white;
	font-size: 18px;

}

a:hover {
	color: black;
}
/* i virsu copy ////////////////////////////////////////////////////////// */

.hi {
	text-align: center;
	margin: 200px 0 0 0;
	font-size: 45px;
	font-family: "Open Sans", sans-serif;
}

#front {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 25px;
	margin: 20px;

}

#linkai {
	position: relative;
	display: inline-block;
	top: 179px;
	left: 524px;

}
#linkai a {
	margin: 25px;
	text-decoration: none;
}
/* RESUME ///////////////////  */
object {
	position: relative;
	margin: 0;
	padding: 0;
	width: 80%;
	height: 580px;
	margin: 0 100px;
	left: 50px;
}
/* ABOUT /////////////////////// */
.prist {
	position: relative;
	margin: 0;
	margin: 0 150px;
	width: 400px;
	height: 100px;
	top: 60px;
	font-size: 20px;
	float: left;
	font-family: "Open Sans", sans-serif;
}
#prof {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	position: relative;
	top: 100px;
	left: 80px;
}


#linkai-bout {
	position: relative;
	display: inline-block;
	bottom: -230px;
	right: 480px;

}
#linkai-bout a {
	margin: 25px;
	text-decoration: none;
}
/* CONTACT ///////////////////////////////*/
#main {
	position: relative;
	top: 150px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}
div p {
	font-size: 22px;
}
h1 {
	font-size: 30px;
}

#linkai-cont {
	position: relative;
	display: inline-block;
	bottom: -326px;
	left: 524px;

}
#linkai-cont a {
	margin: 0 25px;
	text-decoration: none;
}
/* i apacia copy /////////////////////////////////////////////////////////////// */
.footer p {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	color: #595959;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
}
.footer-resume {
	display: block;
    text-align: center;
	color: #595959;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}