body {
	margin: 0;
	padding: 0;
	background-color: #e2e2e2;
}
#navbar {
	display: inline-block;
	background-color: #8e8e8e;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	font-family: "Open Sans", sans-serif;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

}

ul li a {
	text-decoration: none;
	margin: 0 40px;
	padding: 0;
	color: white;
	font-size: 18px;

}

a:hover {
	color: black;
}
/* i virsu copy ////////////////////////////////////////////////////////// */

.hi {
	text-align: center;
	margin: 200px 0 0 0;
	font-size: 45px;
	font-family: "Open Sans", sans-serif;
}

#front {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 25px;
	margin: 20px;

}

#linkai {
	position: fixed;
	display: inline-block;
	width: 100%;
	bottom: 50px;
	text-align: center;
}
#linkai a {
	margin: 25px;
	text-decoration: none;
	text-align: center;

}
a { 
	color: black; 
}
a:visited { 
	color: black; 
}
a:hover { 
	color: white; 
}
/* RESUME ///////////////////  */
object {
	position: fixed;
	margin: auto;
	width: 80%;
	height: 570px;
	left: 10%;
	text-align: center;
	margin-bottom: 0;
}
/* ABOUT /////////////////////// */
.prist {
	position: relative;
	margin: 0;
	margin: 0 150px;
	width: 400px;
	height: 100px;
	top: 60px;
	font-size: 20px;
	float: left;
	font-family: "Open Sans", sans-serif;
}
#prof {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	position: relative;
	top: 100px;
	left: 80px;

}

/* CONTACT ///////////////////////////////*/
#main {
	position: relative;
	top: 150px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}
div p {
	font-size: 22px;
}
h1 {
	font-size: 30px;
}

/* i apacia copy /////////////////////////////////////////////////////////////// */
.footer {
	display: block;
    position: fixed;
    bottom:3%;
	color: #595959;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	width: 100%;
	text-align: center;
	margin: auto;
}
.footer-resume {
	position:fixed;
	width: 100%;
    height:20px;
    bottom:1%;
	text-align: center;
    margin-bottom:0px;
	color: #595959;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
}